body {
    font-family: 'Noto Serif JP', serif;
    background-color: #29334D;
    color: #FFFBFB;
    font-weight: 200;
  }
  
  
  /* TopBar and Links (LinkedIn + Github) */
  
  .topbar {
    margin-left:15%;
    display: flex;
    flex-direction: row;
  }
  
  .link_container {
    max-height: 5%;
    margin-top: 30px;
  }
  
  .top_logo {
    width: 30px;
    opacity: .5;
    transition: 1s;
    animation: fadein-logo 1s ease-in;
  }
  
  .top_logo:hover {
    opacity: 1;
  }
  
  #githubcontainer {
    margin-left: 10px;
  }
  
  /* Front Page Body */

  .intro{
    margin-bottom: 5%;
  }
  
  h1 {
    margin-top: 100px;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.4em;
    animation: fadein 1.2s ease-in;
  }

  #titleDiv{
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .typewrite {
    font-size: 36;
    margin-bottom: 50px;
    animation: fadein 1.4s ease-in;
    display: inline;
    margin-left: 0;
  }

  #title {
    font-size: 64;
    display: inline;
    padding-right: 0;
  }

  #name {
    font-size: 64;
    display: inline;
    padding-left: 0;
    font-weight: medium;
  }

  #IAmA {
    margin-top: 3%;
    margin-bottom: 15%;
    margin: auto;
    text-align: center;
    padding-bottom: 100px;
  }

  #IAm {
    font-size: 36;
    display: inline;
  }

  #about {
    background-color: #E5E5E5;
    color: #29334D;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  #aboutTitle {
    padding-left: 12%;
    padding-top: 5%;
    font-size: 64;
  }
  
  #aboutText {
    padding-top: 2%;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 36;
  }
  .aboutBox{
    background-color: #BFCDBF;
    height: 14%;
    width: 20%;
    
    position: relative;
    z-index: 2;
  }
  
  .aboutBox-1{
    top: -7%;
    z-index: 2;
    position: relative;
  }
  .aboutBox-2{
    top: -7%;
    float: right;
  }
  
  #projects {
    background-color: #29334D;
    color:#FFFBFB;
    font-size: 64;
  }

  #projectsTitle {
    padding-left: 12%;
    padding-top: 50px;
  }
  
  .projectRow {
    width: 100%;
    height: 48%;
    margin-top: 10%;
    border-bottom: 10%;
  }

  .projectBox {
    height: 100%;
    width: 65%;
    background-color: #FFFBFB;
    color: #000000;
    position: relative;
    box-shadow: 0px -35px 0 0px #BFCDBF ,40px -35px 0 00px #BFCDBF ;
  }

  .projectBox-right {
    float: right;
    box-shadow: 0px -35px 0 0px #BFCDBF ,-40px -35px 0 00px #BFCDBF ;

  }

  .projectText {
    height: 100%;
    width: 60%;
  }

  #projectPicture {
    height: auto;
    width: auto;
  }

  #projectTitle {
    font-size: 24px;
    padding-top: 5%;
    padding-left: 5%;
  }

  #projectTitle-right {
    margin-top: 0;
    font-size: 24px;
    padding-top: 5%;
    padding-left: 5%;
  }

  #projectDescription {
    
  }
  
  .projectLinks {

  }

  .box-right{
    top: 100%;
    float: right;
  }


  .line{
    margin-top: 2%;
    margin-bottom: 0;
    width: 80%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .line-1{
    background-color: #29334D;
  }

  .line-2 {
    background-color: #FFFBFB;
  }

  /* Animated highligh by Will Taylor */
  span.highlight {
    background-image: linear-gradient(#BFCDBF, #BFCDBF);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 100% 3px;
    transition: background-size .5s, background-position .3s ease-in .5s;
  }

  span.highlight:hover {
    background-size: 100% 100%;
    background-position: 0% 0%;
    transition: background-position .5s, background-size .3s ease-in .5s;
  }
  
  
  /* Keyframe Load */
  
  @keyframes fadein-logo {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 0.5; transform: translateY(0px);}
  }
  
  @keyframes fadein {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0px);}
  }