body {
    font-family: 'Noto Serif JP', serif;
    background-color: #29334D;
    color: #FFFBFB;
    margin: 0px;
    font-weight: 200;
  }
  
  
  /* TopBar and Links (LinkedIn + Github) */
  
  .topbar {
    margin-left:15%;
    display: flex;
    flex-direction: row;
  }
  
  .link_container {
    max-height: 5%;
    margin-top: 30px;
  }
  
  .top_logo {
    width: 30px;
    opacity: .5;
    transition: 1s;
    animation: fadein-logo 1s ease-in;
  }
  
  .top_logo:hover {
    opacity: 1;
  }
  
  #githubcontainer {
    margin-left: 10px;
  }
  
  /* Front Page Body */

  .intro{
  }
  
  h1 {
    margin-top: 100px;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 1.4em;
    animation: fadein 1.2s ease-in;
  }

  #titleDiv{
    margin-top: 3%;
    margin-bottom: 5%;
  }
  
  .typewrite {
    font-size: 36;
    margin-bottom: 50px;
    animation: fadein 1.4s ease-in;
    display: inline;
    margin-left: 0;
  }

  #title {
    font-size: 64;
    display: inline;
    margin-right: 0;
    margin-left: 15%;
  }

  #name {
    font-size: 64;
    display: inline;
    margin-left: 0;
    font-weight: medium;
  }

  #IAmA {
    margin-top: 3%;
    margin-bottom: 10%;
  }

  #IAm {
    font-size: 36;
    display: inline;
    margin-right: 0;
    margin-left: 15%;
  }

  #about {
    background-color: #E5E5E5;
    color: #29334D;
  }

  #aboutTitle {
    padding-left: 12%;
    padding-top: 5%;
    font-size: 64;
  }
  
  #aboutText {
    padding-top: 2%;
    padding-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 36;
  }
  
  #projects {
    background-color: #29334D;
    color:#FFFBFB;
    font-size: 64;
  }

  #projectsTitle {
    padding-left: 12%;
    padding-top: 5%;
  }
  
  .projectBox {
    height: 450px;
    width: 1250px;
    z-index: 2;
    background-color: #FFFBFB;
    margin-top: -390px;
  }

  .projectBox-right {
    float: right;
  }

  .box{
    background-color: #BFCDBF;
    height: 430px;
    width: 1300px;
    margin-top: 5%;
    z-index: 1;
  }

  .box-right{
    float: right;
  }

  .aboutBox{
    background-color: #BFCDBF;
    height: 120px;
    width: 400px;
  }
  
  .aboutBox-1{
    margin-top: -60px;
  }
  .aboutBox-2{
    margin-top: -60px;
    float: right;
  }

  .line{
    margin-top: 2%;
    margin-bottom: 0;
    width: 80%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .line-1{
    background-color: #29334D;
  }

  .line-2 {
    background-color: #FFFBFB;
  }

  /* Animated highligh by Will Taylor */
  span {
    background-image: linear-gradient(#BFCDBF, #BFCDBF);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 100% 3px;
    transition: background-size .5s, background-position .3s ease-in .5s;
  }

  span:hover {
    background-size: 100% 100%;
    background-position: 0% 0%;
    transition: background-position .5s, background-size .3s ease-in .5s;
  }
  
  
  /* Keyframe Load */
  
  @keyframes fadein-logo {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 0.5; transform: translateY(0px);}
  }
  
  @keyframes fadein {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0px);}
  }